body {
  margin: 0;
  padding: 0;
}
/*定义滚动条宽高及背景，宽高分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
/*定义两端按钮的样式，display:none可设置为不显示，也可以添加背景图片，颜色*/
::-webkit-scrollbar-button {
  display: none;
  background: #ffee07;
}
/*外层轨道，定义滚动条的轨道颜色、内阴影及圆角。display:none可设置为不显示，也可以添加背景图片，颜色*/
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4.5px;
}
/* 内层轨道，如果设置了会覆盖::-webkit-scrollbar-track的样式 */
::-webkit-scrollbar-track-piece {
  background: transparent;
  border-radius: 4.5px;
}
/*滚动条拖动的部分*/
::-webkit-scrollbar-thumb {
  background: #d2d2d2;
  border-radius: 4.5px;
}

/*定义右下角汇合处的样式*/
::-webkit-scrollbar-corner {
  background: #ffffff;
}
